.box {
  min-width: 250px;
  min-height: 100px;
  padding: 10px;
  background: #222;
  color: yellowgreen;
  font: 30px sans-serif;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.buttons {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.button {
  outline: none;
  cursor: pointer;
  width: 30%;
  flex-grow: 1;
  border: none;
  background: none;
  padding: 12px;
  background: yellowgreen;
  border-radius: 10px;
}
.button + .button {
  margin-left: 8px;
}
